{% extends 'base.html' %}

{% block content %}
  <h1>Editar Candidato</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Renderiza los campos de nombre y apellido -->
    <div>
      <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
      {{ form.nombre }}
    </div>
    <div>
      <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
      {{ form.apellido }}
    </div>

    <!-- Renderiza el campo de partido -->
    <div>
      <label for="{{ form.partido.id_for_label }}">Partido:</label>
      {{ form.partido }}
    </div>

    <!-- Renderiza el campo de cargo -->
    <div>
      <label for="{{ form.cargo.id_for_label }}">Cargo:</label>
      {{ form.cargo }}
    </div>

    <!-- Logo (foto del candidato) -->
    <div>
      <label for="{{ form.foto.id_for_label }}">Foto:</label>
      {% if form.instance.foto %}
        <div>
          <p>Foto actual:</p>
          <img src="{{ form.instance.foto.url }}" alt="Foto actual" width="100">
        </div>
      {% endif %}
      <input type="file" name="foto" id="id_foto">
    </div>

    <button type="submit">Actualizar</button>
  </form>
{% endblock %}
